<nav class="navbar navbar-light"
	style="background-color: #0cbaba; background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);"
	id="title-nav">
	<a class="navbar-brand" href="#"
		style="margin-left : 20px ; color : white; font-size : 30px "><i class="fa fa-edit" style="font-size : 30px; color : #00FFEF ; margin-right : 10px;"></i>ACTIVITY
		TRACKER</a>
	<form class="form-inline">
		<!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
		<button routerLink="/signUp" class="btn btn-outline-warning my-2 my-sm-0" type="submit" style="margin-right : 20px ;">Sign Up</button>
	</form>
</nav>
<div align="center">
	<i class="fa fa-user" style="font-size : 270px; background: -webkit-gradient(linear, left top, left bottom, from(#0ff), to(#555));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;"></i>
</div>
<div align="center" *ngIf="isLoading">
<div class="lds-hourglass"></div>
</div>

<div class="container" style="width : 80%">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="form-group" >
			<label for="exampleInputEmail1"><b>Email address</b></label>
			<input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
			<div class="form-group">
				<label for="exampleInputPassword1"><b>Password</b></label>
				<input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div *ngIf="error">
  <h5 style = "color : red">{{error}}</h5>
  </div>
				<button type="submit" class="btn btn-success btn-block" style="margin-top : 30px">Submit</button>
				<a routerLink="/signUp" style="color : orange"> Don't have an account?, Please sign up here</a>
	</form>
</div>