<nav class="navbar navbar-light"
	style="background-color: #0cbaba; background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);"
	id="title-nav">
	<a class="navbar-brand" href="#"
		style="margin-left : 20px ; color : white; font-size : 30px "><i class="fa fa-edit" style="font-size : 30px; color : #00FFEF ; margin-right : 10px;"></i>ACTIVITY
		TRACKER</a>
	<form class="form-inline">
		<!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <h5 *ngIf="welcomeMessage" style="color:orange; margin-right:10px">{{welcomeMessage}}
    </h5>
		<button routerLink="/login" class="btn btn-outline-warning my-2 my-sm-0" type="submit" style="margin-right : 20px ;">LogOut</button>
	</form>
</nav>

<nav class="navbar navbar-light"
	style="background-color: black">
  <header>

	<a class="navbar-brand" href="#"
		style="margin-left : 50px ; color : white; font-size : 15px " routerLink="/dashBoard"><b>Dashboard</b></a>
>
	<a class="navbar-brand" href="#"
		style="margin-left : 20px ; color : white; font-size : 15px " routerLink="/logActivity"><b>Log Activity</b></a>
    </header>
</nav>

<div class="container" style="width : 80%; margin-top : 50px">
	<form [formGroup]="signUpForm" (ngSubmit)="logActivity()">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Select Category</label>
    <select class="form-control" formControlName="activityCategory" id="exampleFormControlSelect1">
      <option value="#">select</option>
      <option value="Development">Development</option>
      <option value="SIT">SIT</option>
      <option value="ST">ST</option>
      <option value="Support">Support</option>
      <option value="Learning">Learning</option>
    </select>
  </div>
<div class="form-group">
			<label for="enterDate"><b>Date</b></label>
			<input type="date" formControlName="enterDate" class="form-control" id="enterDate" aria-describedby="emailHelp" placeholder="Enter Employ ID">
  </div>
			<div class="form-group">
				<label for="description"><b>Activity Description</b></label>
				<input type="textarea" class="form-control" formControlName="description" id="description" placeholder="Description goes here">
  </div>
  <div class="form-group">
				<label for="duration"><b>Duration</b></label>
				<input type="number" formControlName="duration" class="form-control" id="duration" placeholder="Enter Duration">
  </div>
				<button type="submit" class="btn btn-success btn-block" style="margin-top : 30px">Submit</button>
	</form>
</div>