<nav class="navbar navbar-light"
	style="background-color: #0cbaba; background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);"
	id="title-nav">
	<a class="navbar-brand" href="#"
		style="margin-left : 20px ; color : white; font-size : 30px "><i class="fa fa-edit" style="font-size : 30px; color : #00FFEF ; margin-right : 10px;"></i>ACTIVITY
		TRACKER</a>
    
	<form class="form-inline">
		<!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--<div *ngIf(welcomeMessage != "")>{{welcomeMessage}}
      </div>-->
      <h5 *ngIf="welcomeMessage" style="color:orange; margin-right:10px">{{welcomeMessage}}
    </h5>
		<button routerLink="/login" class="btn btn-outline-warning my-2 my-sm-0" type="submit" style="margin-right : 20px ;" (onclick)="logOut()">Logout</button>
	</form>
</nav>
<!-- navabar for dashboard and log activity -->

<nav class="navbar navbar-light"
	style="background-color: black">
  <header>

	<a class="navbar-brand" href="#"
		style="margin-left : 50px ; color : white; font-size : 15px " routerLink="/dashBoard"><b>Dashboard</b></a>
>
	<a class="navbar-brand" href="#"
		style="margin-left : 20px ; color : white; font-size : 15px " routerLink="/logActivity"><b>Log Activity</b></a>
    </header>
</nav>


<div class="container">
  <div class="row" style="margin-top :40px">

    <div class="col-md-6">
    <h3>Last 7 Days Activities</h3>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> S.No </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Activity Category </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Activity Description </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 
</div>
</div>
  <div class="col-md-6">
    <h3>performnce chart
      </h3>
    <app-pie-chart></app-pie-chart>
    </div>
    </div>
</div>